@charset "UTF-8";
/* CSS Document */


html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333;
	border-top: 3px solid #da291c;
}
/*** FONTS ***/
@font-face {
	font-family: Omnes Semibold;
	src: url('../fonts/Omnes-Semibold.otf');
}

@font-face {
	font-family: Omnes Medium;
	/*font-weight: bold;*/
	src: url('../fonts/Omnes-Medium.otf');
}
@font-face {
	font-family: Omnes Medium;
	/*font-weight: bold;*/
	src: url('../fonts/Omnes-Medium.otf');
}
@font-face {
	font-family: Omnes Regular;
	font-weight: bold;
	src: url('../fonts/Omnes-Regular.otf');
}
/**** LOADING ***/
#preview {
	background: #333;
	color: #fff;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	position: fixed;
	top:0%;
	z-index:2;
	display:none;
}
.loading_content {
	background:#000;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	width:240px;
	height:80px;
	margin:14% auto auto auto;
	opacity:1 !important;
	padding:6px 4px;
	display:block !important;
}

.loading_content p {
	color:#fff;
	font-size:12px;
	padding:1% 0 2% 2%;
	width:85%;
	margin:auto;
	text-align:center;
}
/*.ref_login .loading_content p {
	width:80%;
}*/
.spinner {}
#loading_div {
	width:100%;
	height:50%;
	margin:auto;
	display:block !important;

}
/*** LOADING END ***/


h1{font-family: "Omnes Medium" !important; font-size:28px;}
/*** FONTS END ***/

a {
	text-decoration: none;
	color: #0079C1;
}
.fleft {
	float: left
}
.fright {
	float: right
}
.clear {
	clear: both
}
.mainwrapper {
	width: 100%
}
.homewrapper{width:100%margin:auto;}
.homewrapper .header{width:1004px;margin:auto;}
.subwrapper {
	width: 1004px;
	margin: auto;
	display: table
}
.header {
	width: 100%;
	height: 97px;
}
.header .logo {
	float: left;
	width: 48%
}
.header .logo .logo_moneygram {
	float: left;
	margin: 6% 4%
}
.header .logo .logo_paypal {
	float: left;
	margin: 8% 1%
}
.header .topNav {
	float: right;
	margin-right: 2%
}
.header .topNav a {
	color: #333;
	border-right: 1px solid #333;
	padding: 0 8px;
	margin-top: 26%;
	cursor:pointer;
}
.header .topNav a.logout {
	border: 0;
	background: url(../images/icon_logout.png) no-repeat left;
	background-size: 19%;
	padding-left: 24px;
	display: inline-block;
	margin-left: 10px
}
/*** Home Slider ***/
.shadow{background: url(../images/header_shadow.png) no-repeat top center;width:100%;height:26px;border-top:1px solid #e9e9e9; margin:auto}
.slider{background:url(../images/sliderbg.gif) repeat left; height:421px}
.sliderbottom{background:url(../images/sliderbtmbg.png) repeat-x left; height:91px; margin-top:-2%;}
.sliderbottom ul{width:980px;margin:auto; list-style:none;}
.sliderbottom ul li{list-style:none;float:left; padding:0;width:50%}
.sliderbottom ul li.leftcaption{text-align:left; width:50%; display:table-cell;  padding-top:1.5%}
.sliderbottom ul li.socialbaricons{text-align:right !important; width:43%; vertical-align:bottom; padding-top:22px}
.sliderbottom ul li.socialbaricons img{float:right}
#slides {
	width:960px;
	position:relative;
	margin:auto;
	margin-top:8px;
}
.slides_container {
	width:100%;
	height:334px;
	overflow:hidden;
	position:relative;
	display:none;
	margin:auto;
	
}
.slides_container a {
	width:699px;height:334px;
	display:block;
}

.slides_container a img {
	display:block;
}

.slides_container img{width:699px;height:334px;}
.slider_login{width:322px; height:257px; position:absolute; z-index:9999;top:14%; right:6%}
/*** Pagination ***/

.pagination {
	margin:-62px auto 0 auto;
	width:70px;
	float:left;
	position:absolute;
	z-index:99999;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}
/*** Home Slider End ***/
.innercontainer {
	background: url(../images/header_shadow.png) no-repeat top center;
	width: 96%;
	margin: auto;
}
.innercontainer .welcome {
	text-align: right;
	padding-top: 1%;
	font-size: 12px;
	margin-right: 4%;
}
.innercontainer .welcome span {
	color: #0079c1
}
.innercontainer .breadcrumb {
	text-align: left;
	margin: 1% auto 3% auto
}
.innercontainer .breadcrumb a {
	color: #0079c1;
	text-decoration: underline;
	padding-left: 3%;
}
.staticcontainer {
	width: 92%;
	margin-left: 5%
}
.staticcontainer h1 {
	
	font-weight: normal
}
.staticcontainer h2 {
	font-size: 16px;
	margin: 2% auto 0.5% auto;
}
.staticcontainer p {
	margin-bottom: auto auto 4% auto;
	line-height: 22px;
}
.staticcontainer p a {
	color: #0079c1;
	text-decoration: underline
}
/*** WIDTHDRAW CASH ***/
.WC_authentication_container {
	width: 100%;
}
.WC_authentication_container .left {
	width: 46%;
	float: left;
	margin-left: 5%;
}
.WC_authentication_container .right {
	width: 42%;
	float: left;
	margin-left: 5%;
}
.WC_authentication_container .left div {
	margin-bottom: 12%
}
.WC_authentication_container .left a {
	color: #0079c1;
	text-decoration: underline
}
.WC_authentication_container .left li a.feearrow{
	background: url(../images/icon_small_arrow.png) no-repeat right;
	padding-right: 10px;
}
.WC_authentication_container .left ul {
	margin-left: 0%;
	width:100%;
}
.WC_authentication_container .left li {
	list-style: none;
	padding-top: 8px
}
.WC_authentication_container .left h1 {

	font-weight: normal;
	margin: 4% auto
}
.WC_authentication_container .left h2 {
	font-size: 18px;
	font-weight: normal;
	margin: 4% auto
}
.WC_authentication_container .left h2 span {
	background: url(../images/list_bg.png) no-repeat left center;
	width: 39px;
	height: 41px;
	display: inline-block;
	color: #fff;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	line-height: 41px;
	padding-right: 12px;
	float: left;
	margin-top: -2%
}
.WC_authentication_container .left li {
	list-style-image: url(../images/list_right.jpg)
}
.WC_authentication_container .right .WCsteps .progressivesteps {
	width: 100%;
	
}
/**bvv** 15*/
.WC_authentication_container .right .WCsteps .step1{background:url(../images/wc_enteramount_active.png) no-repeat;width:400px; height:32px;}
.WC_authentication_container .right .WCsteps .step2{background:url(../images/wc_review_active.png) no-repeat;width:400px; height:32px; display:none}
.WC_authentication_container .right .WCsteps .step3{background:url(../images/wc_getconfirmation_active.png) no-repeat;width:400px; height:32px; display:none}
.WC_authentication_container .right .WCsteps button{opacity:0.5 !important}
/**bvv** 15*/

.enteramount{width:96%;}
.enteramountbox {
	border: 1px solid #e0e0e0;
	background: #f8f8f8;
	padding: 2% 6%;
	margin: 4% auto;
}
.enteramountbox hr {
	background: url(../images/WC_enteramountline.png) no-repeat center;
	border: 0;
	height: 2px;
}
.enteramountbox h3 {
	font-size: 18px;
	color: #333;
	font-weight: bold;
	padding-left: 0 !important
}
.enteramount h3 span {
	font-size: 18px;
	color: #0079c1;
	font-weight: normal;
}
.enteramount h6 {
	font-weight: normal;
	padding-left: 6%;
	margin-top: 0.5%
}
.enteramount h3 {
	font-size: 18px;
	color: #333;
	font-weight: bold;
	padding-left: 6%
}
.enteramount ul {
	width: 50%;
	margin: 3% 0
}
.enteramount li {
	list-style: none
}
.enteramount li label {
	clear: both;
	width: 100% !important;
	display: table-row;
	margin: 2%;
}
.enteramount li input, select {
	margin: 1% 0;
	width: 90%
}
.contact_us_byEmail select{ width:71%; height:24px;
	line-height:24px;
	margin-bottom:4%;
border:1px solid #9a9a9a;font-size:14px;
 }
.button {
	background: url(../images/buttonbg.png) repeat-x;
	height: 30px;
	border: 1px solid #d7d7d7;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	behavior: url(../scripts/border-radius.htc);
	color: #fff;
	font-size: 14px;
	margin-top: 2%;
}
a.button {
	background: url(../images/buttonbg.png) repeat-x;
	height: 30px;
	border: 1px solid #d7d7d7;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	behavior: url(../scripts/border-radius.htc);
	color: #fff !important;
	font-size: 14px;
	margin-top: 2%;
	line-height: 30px;
    padding: 0 6px;
	display:inline-block;
	cursor:pointer;
}
/*** tooltip ***/
#fee_tooltip, #fee_tooltip2 {
	width: 100%;
	height: auto;
	position: relative;
	border:1px solid #ccc;
	margin-left:0;
}

#fancybox-close, #fancybox-close2 {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background: transparent url(../images/fancybox.png) -40px 0px;
	cursor: pointer;
	z-index: 1103;
	display: block;
}

/*** tooltip end ***/
/*** Review container ***/
.reviewcontainer{margin-left: -5%;margin-top: 5%;}
.reviewcontainer a{color: #0079C1;text-decoration: underline;}
/*** Get Confirmation ***/
.getconfirmation a{color: #0079C1;text-decoration: underline; text-align:right; }
.getconfirmation h5{font-size:12px; text-align:right;margin:2% 4%}
/*** History ***/
.historyGrid {
	width: 90%;
	margin: auto;
	display: table;
	background: #dddddc;
	border: 1px solid #dddddc;
	border-bottom:0;
	border-left: 0;
	background:url(../images/history_gridBg.gif) repeat top left;
}
.historyGrid li {
	list-style: none;
	display: table-row;
}
.historyGrid li div {
	display: table-cell;
	padding: 0 1%;
}
.historyGrid .thead {
	width: 100%;
	background: url(../images/history_tbl_header_bg.png) repeat-x;
	height: 40px;
	line-height: 40px;
	color: #fff;
	display: table-row
}
.historyGrid .thead a {
	color: #66bbff;
	text-decoration: underline
}
.historyGrid .thead div {
	border-left: 1px solid #404040;
}
.historyGrid .trow {
	width: 100%;
	display: table-row;
	/*background: #dddddc;*/
}
.historyGrid .trow div {
	display: table-cell;
	white-space: normal;
	padding:1%;
	/*background: #fff;
	border-top: 1px solid #dddddc;
	*/
	border-left: 1px solid #dddddc;
	
}
.historyGrid .altrow div {
	/*background: #e0f3fb !important*/
}
/*** FAQs ***/

/** Toggle **/
.expand_top, .expand_wrapper {
	width: 90%;
	padding: 0px;
	margin: 0 0 5px 5%;
	float: left;
}
h2.expand_heading {
	padding: 10px 50px;
	margin: 0 0 5px 0;
	background: url(../images/expand_collapse.png) no-repeat;
	font-weight: normal;
}
.expand_all {
	cursor: default;
}
h2.expand_heading a {
	color: #333;
	text-decoration: none;
	display: block;
	font-size: 16px;
	cursor:pointer;
}
h2.active {
	background-position: left bottom;
}
.toggle_container {
	margin: 0 0 5px;
	padding: 0;
	background: #ffffff;
	overflow: hidden;
}
.toggle_container .box {
	margin: 2.5% 5%;
}
.toggle_container .box p {
	padding: 0;
}
.toggle_container h3 {
	margin: 0 0 5px;
	padding: 0 0 5px 0;
	color: #000000;
	border-bottom: 1px dotted #ccc;
}
.toggle_container img {
	float: left;
	margin: 10px 15px 15px 0;
	padding: 5px;
	background: #ddd;
	border: 1px solid #ccc;
}
.toggle_container .historyGrid{width:50%;margin-left:0}
.toggle_container .historyGrid .trow div{border-bottom:1px solid #DDDDDC}
.toggle_container .historyGrid .thead{height:35px; line-height:35px}
.expand_all {
	width: 116px;
	height: 29px;
	background: url(extra_buttons.png) no-repeat top left;
	float: right;
	cursor: pointer;
}
.expanded {
	background-position: bottom left;
}
/***** For getting bullets for FAQ page start*****/
.list_bullets ul li
{
	list-style:disc;
}
/***** For getting bullets for FAQ page end*****/
.faqs_container .expand_wrapper h5{ font-family:"Omnes Medium" !important;font-size:20px; font-weight:normal; margin:2% 5% 1% 5%}
/*** Toggle end ***/

/*** FOOTER ***/
.footer {
	background: #303030;
	color: #999999;
	height: 70px;
	width: 100%;
	margin-top: 5%;
	font-size: 12px
}
.footer div {
	width: 1004px;
	margin: auto;
	padding-top: 16px
}

.footer div a {
	color: #999;
	border-left: 1px solid #999;
	float: right;
	padding: 0 10px;
	cursor:pointer;
}
.footer a.aboutlink{border:0}
.footer span {
	float: left;
	
}
.footer span a{background:url(../images/footer_backtotop.png) no-repeat center; width:53px; height:27px;display:inline-block;margin-left:220px !important; border:0px; margin-top:-15px;}
.footer div p {
	clear: both;
	padding-top: 12px;
}

/**** tabs ****/
.fixing{z-index:99}
#fee_tooltip, #fee_tooltip2{z-index:1;margin-left:0%;}
.tabContainer{background:url(../images/home_tab_content_bg_full.png) no-repeat top center;  clear:both; display:inline-block;margin-left: -1.8%;margin-top: -0.2%;background-color:#fff;}
.tabbed_area {
	background:#fff;
	width:964px;
	margin:2% auto;
	display:table;
	
}

.tabbed_area ul.tabs {
	padding:0;
	margin:0;
	margin-left:-2px !important;/*bvv*/
	background:url(../images/home_tab_a_linkBG.gif) repeat-x;
	
}
.tabbed_area ul.tabs li {
	list-style:none;
	display:inline;
	float:left;
	background:url(../images/home_tabstrip_bg.png) repeat-x top !important;
}
.tabbed_area ul.tabs li a{color:#666;padding:139px 10px 0 10px !important;border-bottom:1px solid #0079c1;width:221.2px !important}
.tabbed_area ul.tabs li.tab4{background:none !important}
.tabbed_area ul.tabs li.tab1 a {
	background-color:#eee;background:url(../images/tab1_MGpaypal_normal.png) no-repeat;width:215px; height:70px; display:inline-block; border-right:1px solid #fff}
.tabbed_area ul.tabs li.tab2 a {
	background-color:#eee;background:url(../images/tab2_Addcash_normal.png) no-repeat;width:215px; height:70px; display:inline-block;border-right:1px solid #fff;}
.tabbed_area ul.tabs li.tab3 a {
	background-color:#eee;background:url(../images/tab3_Withdrawcash_normal.png) no-repeat;width:215px; height:70px; display:inline-block;border-right:1px solid #fff;}
.tabbed_area ul.tabs li.tab4 a {
	background-color:#eee;background:url(../images/tab4_Findlocation_normal.png) no-repeat;width:215px; height:74px; display:inline-block; border-bottom:0px;}
.tabbed_area ul.tabs li:hover{background:url(../images/tab_li_hover.png) no-repeat center top;}	
	



.tabbed_area ul.tabs li.tab1 a.active{background:url(../images/tab1_MGpaypal.png) no-repeat; width:228px; height:104px;margin-left:-12px; display:inline-block; border:0;}
.tabbed_area ul.tabs li.tab2 a.active{background:url(../images/tab2_Addcash.png) no-repeat; width:228px; height:104px;margin-left:-11px; display:inline-block; border:0;}
.tabbed_area ul.tabs li.tab3 a.active{background:url(../images/tab3_widthdrawcash.png) no-repeat; width:228px; height:104px;margin-left:-11px; display:inline-block; border:0;}
.tabbed_area ul.tabs li.tab4 a.active{background:url(../images/tab4_locations.png) no-repeat; width:228px; height:104px;margin-left:-12px; display:inline-block; border:0;}
.tabbed_area ul.tabs li a.active{padding:139px 0 0 30px !important;color:#fff}

.tabbed_area .content {
	/*background:#FCFBFB;*/
	padding-bottom:0px;
	float:left;
	background:url(../images/tab_contentBG.jpg) repeat-y left 10px;
	}

.tabbed_area .content1 {
	/*background:#FCFBFB;*/
	padding-bottom:0px;
	float:left;
	background:none !important;
	width:971px; /*bvv*/
		
}
.tabbed_area .tabContainer h2{font-family:"Omnes Regular" !important; font-weight:bold; font-size:18pt !important}
.tabbed_area .tabContainer .left{width:45%; float:left;margin:0 0 0 5%}
.tabbed_area .tabContainer .right{width:40%; float:left; margin:0 5%}
.tabbed_area #content_1 ul{margin-left:4%}

.tabbed_area #content_1 .left h1{font-weight:normal; margin:3% auto}
.tabbed_area #content_1 .left h2{font-size:22px; font-weight:normal;margin:3% auto}
.tabbed_area #content_1 .left h2 span{color:#15467a}
.tabbed_area #content_1 .left h3{font-size:18px; font-weight:normal;margin:3% auto}
.tabbed_area #content_1 ul li{list-style-image:url(../images/list_right.jpg) !important;}
.tabbed_area #content_1 .right ul{list-style:none; padding:0; width:385px }
.tabbed_area #content_1 .right li{list-style:none !important; list-style-image:none; padding:0; text-align:right}
.tabbed_area #content_1 .right .captionbg{background:url(../images/home_tab2_content2_right_captiongBG.jpg) repeat-x; height:56px; text-align:center; line-height:56px;width:100%}
.tabbed_area #content_1 .right .captionbg a{color:#0079C1; text-decoration:underline}
.tabbed_area #content_2 .right .captionbg a{color:#0079C1; text-decoration:underline}
.tabbed_area #content_2 .historyGrid{width:100%}
.tabbed_area #content_1, #content_2, #content_3, #content_4 { display:block; }

/*** CONTENT 2,3 ***/
.tabbed_area #content_2 .left, .tabbed_area #content_3 left{width:45%; float:left;margin:0 0 0 5%}
.tabbed_area #content_2 .left ul, .tabbed_area #content_3 .left ul {margin-left: 4%;width:100%}
.tabbed_area #content_2 #all_elements{margin-left:0;margin-top:-1px;margin-right:1px;}
.tabbed_area #content_2 .left li, .tabbed_area #content_3 .left li {
	list-style: none;
	padding-top: 8px
}
.tabbed_area #content_2 .left h1, .tabbed_area #content_3 .left h1 {
	
	font-weight: normal;
	margin: 4% auto
}
.tabbed_area #content_2 .left h2, .tabbed_area #content_3 .left h2  {
	font-size: 18px;
	font-weight: normal;
	margin: 4% auto
}
.tabbed_area #content_2 .left h2 span, .tabbed_area #content_3 .left h2 span {
	background: url(../images/list_bg.png) no-repeat left center;
	width: 39px;
	height: 41px;
	display: inline-block;
	color: #fff;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	line-height: 41px;
	padding-right: 12px;
	float: left;
	margin-top: -2%
}
.tabbed_area #content_2 .left li, .tabbed_area #content_3 .left li {
	list-style-image: url(../images/list_right.jpg)
}
.tabbed_area #content_2 .left li:first-child a, .tabbed_area #content_3 .left li:first-child a{clear:both; display:inline-block}
.tabbed_area #content_2 .left li #fee, .tabbed_area #content_3 .left li #fee  {
    background: url(../images/icon_small_arrow.png) no-repeat  right center;
    padding-right: 10px;
	color:#0079C1;
	text-decoration:underline;
}
.tabbed_area #content_2 .left li #fee2 {
    background: url(../images/icon_small_arrow.png) no-repeat  right center;
    padding-right: 10px;
	color:#0079C1;
	text-decoration:underline;
}
.tabbed_area #content_2 .right ul, .tabbed_area #content_3 .right ul{list-style:none; padding:0; width:385px}
.tabbed_area #content_2 .right li, .tabbed_area #content_3 .right  li{list-style:none; padding:0; text-align:right}
.tabbed_area #content_2 .right .captionbg, .tabbed_area #content_3 .right .captionbg{background:url(../images/home_tab2_content2_right_captiongBG.jpg) repeat-x; height:56px; text-align:center; line-height:56px;width:100%}
.tabbed_area #content_2 .right .captionbg a, .tabbed_area #content_3 .right .captionbg a{color:#0079C1; text-decoration:underline}
/*** CONTENT 2,3 END ***/
.btnpaypal{background:url(../images/btn_paypalaccess.jpg) no-repeat;border:0;width:256px; height:42px;margin:auto; display:table; cursor:pointer}
.paypal_login{ cursor:pointer}

/*** CONTENT 4 ***/

.tabbed_area #content_4  ul,li{list-style:none}
.tabbed_area #content_4  h2{font-size: 18px;
    font-weight: normal;
    margin: 4% auto}
.tabbed_area #content_4 .button{margin-left:12px;}
.tabbed_area #content_4 .left{width:42%; float:left;margin:0 0 0 5%}
.tabbed_area #content_4 .left h1{ font-weight: normal;margin: 4% auto;}
.tabbed_area #content_4  .left h2{font-size: 18px;font-weight: normal; margin: 4% auto}
.tabbed_area #content_4 .left li{background:#e5e3e3;margin-top:4px;}
.tabbed_area #content_4 .left li.mapbg{background:url(../images/home_tabs_content4_mapbg.gif) no-repeat center bottom;width:388px; height:309px}
.tabbed_area #content_4 .left li.mapbg img{ margin:4% 3% 0% 3%}
.tabbed_area #content_4 .left li.captionbg{background: url(../images/home_tab2_content2_right_captiongBG.jpg) repeat-x;height: 56px;
    line-height: 56px;
    text-align: center;
    width: 100%;margin-top:0}

.tabbed_area #content_4 .right{width:42%; float:left; margin:0 5%;padding-top:4%;}
.tabbed_area #content_4  .right h2{font-size: 18px;font-weight: normal; margin: 4.8% auto}
.tabbed_area #content_4 .right li{background:#e5e3e3; margin-top:4px;}
.tabbed_area #content_4 .right li.mapbg{background:url(../images/home_tabs_content4_mapbg.gif) no-repeat center bottom;width:388px; height:309px}
.tabbed_area #content_4 .right li.mapbg img{ margin:4% 3% 0% 3%}
.tabbed_area #content_4 .right li.captionbg{background: url(../images/home_tab2_content2_right_captiongBG.jpg) repeat-x;height: 56px;
    line-height: 56px;
    text-align: center;
    width: 100%;margin-top:0}
.tabbed_area #content_4  li.captionbg	a{color:#009cde; text-decoration:underline;}
.gmap ul{width:94%;}
.tabbed_area #content_4 .ULlocations{margin-left:5%;}
.tabbed_area #content_4 .ULlocations li{list-style-image: url(../images/home_tab4_content4_blue_right_icon.gif);background:#fcfbfb;}
/*** CONTENT 4 END ***/

.tabbed_area .content ul {
	margin:0px;
	padding:0px;
}
.tabbed_area .content ul li {
	list-style:none;
	padding:4px 0px;
}
.tabbed_area .content ul li:last-child {
	border-bottom:none;
}
.tabbed_area .content ul li a {
	text-decoration:none;
	color:#3e4346;
}
.tabbed_area .content ul li a small {
	color:#8b959c;
	font-size:9px;
	text-transform:uppercase;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	position:relative;
	left:4px;
	top:0px;
}

/*** tabs end ***/

/*** CONTACT US ***/
.contact_us {
	width: 50%;
	height: 90%;
	background-color: #fff;
	
}

#contact_us_tab {
	margin: 0;
	width: 100%;
	border-left:1px solid #999;
	border-bottom:0;
	border-right:0;
	padding:0;
	list-style: none;
	display: table;
	list-style: none;
}

#contact_us_tab li {
	width:20%;
	display: table-cell;
	border-top:1px solid #999;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
	text-align: center;
	display: table-cell;
	padding:1% auto;
	
}
#contact_us_tab li.tab3blank{width:60%; border:0; border-bottom:1px solid #999}
#contact_us_tab li a {
	text-decoration: none;
	color:#333;
	font-size:11px;
	font-weight:bold;
	white-space:nowrap;
	
}

.contact_us_container {
	width: 100%;
	height: 95%;
	background-color: #f5f5f5;
	border:1px solid #999999;
	border-top:0;
	padding-bottom:20px;
	background:url(../images/contactus_bg.gif) repeat-x left top;
}

.contact_us_content {
	width: 100%;
	height: 100%;
}
.contact_us_content .countrylbl{margin-bottom:0%; margin-top:8%}

#contact_us_tab .active {
	background-color: #f1f1f1;
	padding:1% 0;
	border-top:4px solid #d62c1b;
	border-right:1px solid #999;
	border-bottom:0;
}

/***** contact us by Email **/
a.tabemail{background:url(../images/contact_byemail_icon.png) no-repeat left; padding-left:26px;}
.contact_us_byEmail {
	padding-top: 2%;
	margin-left: 5%;
}
.contact_us_byEmail p{font-size:12px; margin:0 0 1% 0}
#contact_us_byEmail button {
	margin-left: 5%;
	width: 30%;
	height: 6%;
	background-color: #33ADD6;
	font-wieght: bold;
	color: #fff;
}

.contact_us_byEmail ul {
	width: 100%;
	height: 30%;
	list-style: none;
	padding: 0;
}

.contact_us_byEmail li {
	padding: 0;
	width: 100%;
}

.contact_us_byEmail input {
	width: 70%;
	border:1px solid #9a9a9a;
	height:24px;
	line-height:24px;
	margin-bottom:4%;
}
.contact_us_byEmail label{line-height:24px;}
.contact_us_byEmail .txtbold{ font-weight:bold}
.contact_us_byEmail textarea{border:1px solid #9a9a9a;}
.contact_us_content .button{margin-left:5%}
/***** contact us by Email end ****/


/*********** contact us by Phone **********/
a.tabphone{background:url(../images/contact_byphone_icon.png) no-repeat left; padding-left:20px;height:20px; display:inline-block;}
.contactAddress p{margin:0 6.5%;}
.contact_us_byPhone {
padding-top: 2%;
	margin-left: 5%;
	
}
.contact_us_byPhone  h1{font-family:Arial, Helvetica, sans-serif !important;background:url(../images/contactus_headquarter_icon.png) no-repeat left;margin-top:6%;margin-bottom:0; padding-left:28px; font-size:18px; font-weight:normal}
.contact_us_byPhone span{
font-weight:bold;
}

/******** contact us by Phone end ********/

/*** CONTACT US END ***/


/*** For display locations in lightbox start Prasanna***/

#location_iframe{
	width:98%;
	height:98%
}

#light
{
	display:none;
}

#termsAndCondition_iframe{
	width:98%;
	height:98%
}
#TAC_iframe
{
	display:none;
}
/*** For display locations in lightbox start   ***/


/**** For display popup window  start Prasanna****/
.black_overlay{
            display: none;
            position: fixed;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index:99999;
            -moz-opacity: 0.8;
            opacity:.80;
            filter: alpha(opacity=80);
        }
        
/**** For display popup window ****/

#fee{cursor:pointer}
#loaction_map{cursor:pointer}
#map_location{cursor:pointer}