@charset "UTF-8";
/* CSS Document */


html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333;
	border-top: 3px solid #da291c;
}
a {
	text-decoration: none
}
.fleft {
	float: left
}
.fright {
	float: right
}
.clear {
	clear: both
}
.mainwrapper {
	width: 100%
}
.subwrapper {
	width: 1004px;
	margin: auto;
	display: table
}
.header {
	width: 100%;
	height: 97px;
}
.header .logo {
	float: left;
	width: 48%
}
.header .logo .logo_moneygram {
	float: left;
	margin: 6% 4%
}
.header .logo .logo_paypal {
	float: left;
	margin: 8% 1%
}
.header .topNav {
	float: right;
	margin-right: 2%
}
.header .topNav a {
	color: #333;
	border-right: 1px solid #333;
	padding: 0 8px;
	margin-top: 26%
}
.header .topNav a:last-child {
	border: 0;
	background: url(../images/icon_logout.png) no-repeat left;
	background-size: 19%;
	padding-left: 24px;
	display: inline-block;
	margin-left: 10px
}
.innercontainer {
	background: url(../images/header_shadow.png) no-repeat top center;
	width: 96%;
	margin: auto;
}
.innercontainer .welcome {
	text-align: right;
	padding-top: 1%;
	font-size: 12px;
	margin-right: 4%;
}
.innercontainer .welcome span {
	color: #0079c1
}
.innercontainer .breadcrumb {
	text-align: left;
	margin: 1% auto 3% auto
}
.innercontainer .breadcrumb a {
	color: #0079c1;
	text-decoration: underline;
	padding-left: 3%;
}
.staticcontainer {
	width: 92%;
	margin-left: 5%
}
.staticcontainer h1 {
	font-size: 28px;
	font-weight: normal
}
.staticcontainer h2 {
	font-size: 16px;
	margin: 2% auto 0.5% auto;
}
.staticcontainer p {
	margin-bottom: auto auto 4% auto;
	line-height: 22px;
}
.staticcontainer p a {
	color: #0079c1;
	text-decoration: underline
}
/*** WIDTHDRAW CASH ***/
.WC_authentication_container {
	width: 100%;
}
.WC_authentication_container .left {
	width: 46%;
	float: left;
	margin-left: 5%;
}
.WC_authentication_container .right {
	width: 42%;
	float: left;
	margin-left: 5%;
}
.WC_authentication_container .left div {
	margin-bottom: 12%
}
.WC_authentication_container .left a {
	color: #0079c1;
	text-decoration: underline
}
.WC_authentication_container .left li:last-child a {
	background: url(../images/icon_small_arrow.png) no-repeat right;
	padding-right: 10px;
}
.WC_authentication_container .left ul {
	margin-left: 15%;
}
.WC_authentication_container .left li {
	list-style: none;
	padding-top: 8px
}
.WC_authentication_container .left h1 {
	font-size: 22px;
	font-weight: normal;
	margin: 4% auto
}
.WC_authentication_container .left h2 {
	font-size: 18px;
	font-weight: normal;
	margin: 4% auto
}
.WC_authentication_container .left h2 span {
	background: url(../images/list_bg.png) no-repeat left center;
	width: 39px;
	height: 41px;
	display: inline-block;
	color: #fff;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	line-height: 41px;
	padding-right: 12px;
	float: left;
	margin-top: -2%
}
.WC_authentication_container .left li {
	list-style-image: url(../images/list_right.jpg)
}
.WC_authentication_container .right .WCsteps{margin-top:-2%}
.WC_authentication_container .right .WCsteps .progressivesteps {
	width: 100%;
	border-left: 2px solid #d2d2d2
}
.WC_authentication_container .right .WCsteps .progressivesteps a {
	background: url(../images/WC_progressive_a_bg.jpg) repeat-x;
	background-color: #e5e3e3;
	height: 32px;
	display: inline-block;
	line-height: 32px;
	color: #333;
	font-weight: bold;
	padding-left: 1%;
	cursor: default
}
.WC_authentication_container .right .WCsteps .progressivesteps a.active {
	background: url(../images/WC_progressive_a_bg_active.jpg) repeat-x;
	background-color: #e5e3e3;
	height: 32px;
	display: inline-block;
	line-height: 32px;
	color: #333;
	font-weight: bold;
	padding-left: 1%;
	cursor: default;
	text-decoration: underline
}
.WC_authentication_container .right .WCsteps .progressivesteps a:first-child {
	margin-right: 0%;
	float: left
}
.WC_authentication_container .right .WCsteps .progressivesteps a span {
	width: 17px;
	height: 32px;
	background: url(../images/WC_progressive_a_span.jpg) no-repeat right;
	display: inline-block;
	float: right;
	padding: 0 4px
}
.WC_authentication_container .right .WCsteps .progressivesteps a.active span {
	width: 17px;
	height: 32px;
	background: url(../images/WC_progressive_a_span_active.png) no-repeat right;
	display: inline-block;
	float: right;
	padding: 0 4px
}
.WC_authentication_container .right .WCsteps .progressivesteps a:last-child {
	padding: 0px !important;
}
.WC_authentication_container .right .WCsteps .progressivesteps a:last-child span {
	background: url(../images/WC_progressive_a_span_last.jpg) no-repeat right;
	padding: 0 12px
}
.enteramount{width:96%;}
.enteramountbox {
	border: 1px solid #e0e0e0;
	background: #f8f8f8;
	padding: 2% 6%;
	margin: 4% auto;
}
.enteramountbox hr {
	background: url(../images/WC_enteramountline.png) no-repeat center;
	border: 0;
	height: 2px;
}
.enteramountbox h3 {
	font-size: 18px;
	color: #333;
	font-weight: bold;
	padding-left: 0 !important
}
.enteramount h3 span {
	font-size: 18px;
	color: #0079c1;
	font-weight: normal;
}
.enteramount h6 {
	font-weight: normal;
	padding-left: 6%;
	margin-top: 0.5%
}
.enteramount h3 {
	font-size: 18px;
	color: #333;
	font-weight: bold;
	padding-left: 6%
}
.enteramount ul {
	width: 50%;
	margin: 3% 0
}
.enteramount li {
	list-style: none
}
.enteramount li label {
	clear: both;
	width: 100% !important;
	display: table-row;
	margin: 2%;
}
.enteramount li input, select {
	margin: 4% 0;
	width: 90%
}
.button {
	background: url(../images/buttonbg.png) repeat-x;
	height: 30px;
	border: 1px solid #d7d7d7;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	behavior: url(../scripts/border-radius.htc);
	color: #fff;
	font-size: 14px;
	margin-top: 2%;
}
/*** tooltip ***/
#fee_tooltip {
	width: 200px;
	height: 100px;
	position: relative;
	border:1px solid #666;
	margin-left:15%;
}
#fancybox-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background: transparent url(../images/fancybox.png) -40px 0px;
	cursor: pointer;
	z-index: 1103;
	display: block;
}
/*** tooltip end ***/
/*** History ***/
.historyGrid {
	width: 90%;
	margin: auto;
	display: table;
	background: #dddddc;
	border: 1px solid #dddddc;
	border-left: 0;
}
.historyGrid li {
	list-style: none;
	display: table-row;
}
.historyGrid li div {
	display: table-cell;
	padding: 0 1%;
}
.historyGrid .thead {
	width: 100%;
	background: url(../images/history_tbl_header_bg.png) repeat-x;
	height: 40px;
	line-height: 40px;
	color: #fff;
	display: table-row
}
.historyGrid .thead a {
	color: #66bbff;
	text-decoration: underline
}
.historyGrid .thead div {
	border-left: 1px solid #404040;
}
.historyGrid .trow {
	width: 100%;
	display: table-row;
	background: #dddddc;
}
.historyGrid .trow div {
	display: table-cell;
	white-space: normal;
	padding: 1%;
	background: #fff;
	border-left: 1px solid #dddddc;
	border-top: 1px solid #dddddc
}
.historyGrid .altrow div {
	background: #e0f3fb !important
}
/*** FAQs ***/

/** Toggle **/
.expand_top, .expand_wrapper {
	width: 90%;
	padding: 0px;
	margin: 0 0 5px 5%;
	float: left;
}
h2.expand_heading {
	padding: 10px 50px;
	margin: 0 0 5px 0;
	background: url(../images/expand_collapse.png) no-repeat;
	font-weight: normal;
}
.expand_all {
	cursor: default;
}
h2.expand_heading a {
	color: #333;
	text-decoration: none;
	display: block;
	font-size: 18px;
}
h2.active {
	background-position: left bottom;
}
.toggle_container {
	margin: 0 0 5px;
	padding: 0;
	background: #ffffff;
	overflow: hidden;
}
.toggle_container .box {
	margin: 2.5% 5%;
}
.toggle_container .box p {
	padding: 0;
}
.toggle_container h3 {
	margin: 0 0 5px;
	padding: 0 0 5px 0;
	color: #000000;
	border-bottom: 1px dotted #ccc;
}
.toggle_container img {
	float: left;
	margin: 10px 15px 15px 0;
	padding: 5px;
	background: #ddd;
	border: 1px solid #ccc;
}
.expand_all {
	width: 116px;
	height: 29px;
	background: url(extra_buttons.png) no-repeat top left;
	float: right;
	cursor: pointer;
}
.expanded {
	background-position: bottom left;
}
/*
.faqscontainer ul{width:98%;}
		
.faqscontainer li{background:url(../images/expand_collapse.png) no-repeat left 2px; padding-left:50px;list-style-type:none; cursor:pointer; -moz-border-radius:0 10px 0 10px;  margin:2% auto; padding: 11px 50px; font-size:18px}
.faqscontainer ul div{color: #333; cursor: auto; display: none; font-size: 14px; line-height:20px; padding: 0 0 0 50px; text-decoration: none; }
.faqscontainer ul div a{color:#333; font-weight:bold;}
.faqscontainer li div:hover{text-decoration:none !important;}

.faqscontainer li.active {background:url(../images/expand_collapse.png) no-repeat left -39px; padding: 15px 50px; }
.faqscontainer a{color:#333 !important}
#toggle{margin:0 auto;}
*/
/*** Toggle end ***/

/*** FOOTER ***/
.footer {
	background: #303030;
	color: #999999;
	height: 70px;
	width: 100%;
	margin-top: 5%;
	font-size: 12px
}
.footer div {
	width: 1004px;
	margin: auto;
	padding-top: 16px
}
.footer div a {
	color: #999;
	border-left: 1px solid #999;
	float: right;
	padding: 0 10px
}
.footer span {
	float: left
}
.footer div p {
	clear: both;
	padding-top: 12px;
}
