@charset "utf-8";
/* CSS Document */
/***** Author Yashwanth Gurrapu@TCS *****/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
}

ul,li {
	list-style: none;
}

.clear {
	clear: both;
}

html,body {
	width: 100%;
	height: 100%;
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
	position:absolute;
}

.main_wrapper {
	width: 72%;
	height: 100%;
	background: green;
	margin: auto;
	
	/*display: table;*/ /** it does not consider child elements height in IE 8**/
	border-right: 1px solid #333;
	border-left: 1px solid #333;
	
}

#header {
	float:left;
	width: 100%;
	height: 12%;
	background: #4D4540;
	
}

#logo{
	float:left;
	height:100%;
	width:50%;
	
}
#links{
	margin-top:5%;
	float:left;
	width:48%;
	text-align:right;
}
#logo img {
	width: 60%;
	padding-top: 1%;
	
}

#header li {
	width: 50%;
	float: left;
}

#header li:first-child + li + li {
	text-align: right;
}

#links a {
	font-size:85%;
	text-decoration: none;
	color: #fff;
	border-right:1px solid #ccc;
	padding-right:1%;
}


.main_content {
	width: 100%;
	height:110%;
	background: #C1C1C1;
	/*padding-top: 2%;
	padding-bottom: 2%;*/
	float:left;
	
}

#footer {
	width: 100%;
	margin: auto;
	background: #4D4540;
	padding: 0.5% 0;
	color: #fff;
	float:left;
	
}

#footer p {
	font-size: 90%;
}

.slider_middle {
	width: 96%;
	margin: auto;
	background: #FFF;
	height: 30%;
}

.withdraw_tabs {
	width: 96%;
	height: 70%;
	margin: auto;
	padding-top: 2%;
}

.left_text_plain {
	width: 25%;
	height: 88%;
	border: 1px solid #333;
	float: left;
	margin-right: 2%;
	padding: 1% 2% 2% 2%;
}

.left_text_plain h2 {
	font-size: 160%;
	font-weight: bold;
}

.left_text_plain p {
	font-size: 75%;
	text-align: justify;
}

.tabs_withdraw {
	width: 68.4%;
	height: 94%;
	border: 1px solid #333;
	float: left;
}

#main_tabs_moneygram {
	width: 40%;
	background: #fff;
	display: table;
	height: 8%;
	padding: 1% 0;
}

#main_tabs_moneygram li {
	width: 50%;
	float: left;
	text-align: center;
	font-size: 96%;
}

.withdraw_content_container {
	width: 100%;
	height: 100%;
}

.withdraw_tab_content {
	width: 100%;
	height: 92%;
	display: table;
}

.withdraw_content {
	width: 58%;
	height: 80%;
	float: left;
}

.bread_crumb {
	width: 100%;
	height: auto;
	display: table;
	padding: 2% 2%;
}

.bread_crumb p:first-child {
	font-size: 90%;
	width: 24%;
	float: left;
}

.bread_crumb p:first-child + li + li{
	font-size: 90%;
	width: 13%;
	float: left;
}

.bread_crumb p:first-child + li + li + li + li {
	font-size: 90%;
	width: 30%;
	float: left;
}

.bread_crumb span {
	font-size: 90%;
	float: left;
	width: 4%;
}

.withdraw_terms {
	width: 40%;
	height: 80%;
	float: left;
}

.withdraw_terms_text {
	width: 92%;
	margin: auto;
	border: 1px solid #333;
	border-radius: 6px;
	text-align: justify;
	padding: 3%;
	margin-top: 32%;
}

.withdraw_terms_text p:first-child {
	font-size: 90%;
	padding-top: 6%;
	line-height: 18px;
}

.withdraw_terms_text p:first-child +li{
	font-size: 90%;
	padding: 12% 0 6% 0;
	line-height: 18px;
}

.withdraw_content h3,.review_content h3 {
	font-size: 110%;
	padding: 2% 2%;
}

.withdraw_content ul {
	width: 94%;
	margin: auto;
	font-size: 90%;
	display:table;
}

.withdraw_content li:first-child ,.withdraw_content li:first-child + li + li,.withdraw_content li:first-child + li + li + li + li,.withdraw_content li:first-child + li + li + li + li + li + li ,.withdraw_content li:first-child + li + li + li + li + li + li + li + li 
	{
	display:table-cell;
	width: 60%;
	float: left;
}

.withdraw_content li:first-child + li,.withdraw_content li:first-child + li + li + li ,.withdraw_content li:first-child + li + li + li +li + li,.withdraw_content li:first-child + li + li + li + li + li +li + li,.withdraw_content li:first-child + li + li + li + li + li +li + li +li + li

	{
	display:table-cell;
	width: 40%;
	float: left;
}

.withdraw_content li:first-child + li p,.withdraw_content li:first-child + li + li + li + li + li +li + li +li + li
 p,.withdraw_content li:first-child + li + li + li + li + li +li + li +li p
	{
	display:table-cell;
	width: 76%;
	text-align: right;
	float: left;
}

.withdraw_content li:first-child + li  span,.withdraw_content li:first-child + li + li + li + li + li +li + li +li + li
 span,.withdraw_content li:first-child + li + li + li + li + li +li + li 
 span
	{
	display:table-cell;
	width: 24%;
	text-align: right;
	float: left;
}

.withdraw_content li:first-child + li + li + li  select {
	display:table-cell;
	width: 100%;
	/*line-height: 40px !important;
	padding: 20%*/
}

.withdraw_content li:first-child + li + li + li +li +li input {
	display:table-cell;
	width: 96%;
	padding: 1% 0;
}

.review_withdraw_btn {
	width: 100%;
	height: 10%;
	text-align: right;
}

.review_withdraw_btn button {
	padding: 1% 4%;
}

.review_content {
	padding-left: 2%;
}

.review_content ul {
	width: 58%;
	border: 1px solid #333;
	border-radius: 6px;
	padding: 2%;
	display: table;
}

.review_content li:first-child ,.review_content li:first-child + li + li ,.review_content li:first-child + li + li +li +li,.review_content li:first-child + li + li +li +li +li +li,.review_content li:first-child + li + li +li +li +li +li +li +li,.review_content li:first-child + li + li +li +li +li +li +li +li +li +li,.review_content li:first-child + li + li +li +li +li +li +li +li +li +li +li +li,.review_content li:first-child + li + li +li +li +li +li +li +li +li +li +li +li +li +li
	{
	width: 60%;
	float: left;
}

.review_content li:first-child + li ,.review_content li:first-child + li + li +li ,.review_content li:first-child + li + li +li +li +li ,.review_content li:first-child + li + li +li +li +li +li +li ,.review_content li:first-child + li + li +li +li +li +li +li +li +li,.review_content li:first-child + li + li +li +li +li +li +li +li +li +li +li,.review_content li:first-child + li + li +li +li +li +li +li +li +li +li +li +li +li,.review_content li:first-child + li + li +li +li +li +li +li +li +li +li +li +li +li +li +li
	{
	width: 40%;
	float: left;
}

.review_content li:first-child + li + li +li +li +li +li +li +li +li p,.review_content li:first-child + li + li +li +li +li +li +li +li +li +li +li  p,.review_content li:first-child + li + li +li +li +li +li +li +li +li +li +li +li +li p
	{
	width: 76%;
	text-align: right;
	float: left;
}

.review_content li:first-child + li + li +li +li +li +li +li +li +li span,.review_content li:first-child + li + li +li +li +li +li +li +li +li +li +li span,.review_content li:first-child + li + li +li +li +li +li +li +li +li +li +li +li +li span
	{
	width: 24%;
	text-align: right;
	float: left;
}

.review_content li:first-child + li + li +li +li +li +li +li +li +li +li +li +li +li +li +li p {
	width: 34%;
	float: left;
}

.review_content li:first-child + li + li +li +li +li +li +li +li +li +li +li +li +li +li +li span {
	width: 14%;
	float: left;
	text-align: center;
}

.check_terms {
	width: 100%;
	height: 10%;
	padding: 2%;
}

.check_terms input {
	float: left;
}

.check_terms p {
	font-size: 90%;
	width: 94%;
	float: left;
}

.check_terms span {
	display: inline;
	text-decoration: underline;
}

.Intro_content {
	width: 96%;
	padding: 2% 0 2% 0;
	margin: auto;
}

.Intro_content h4 {
	font-size: 110%;
	padding: 2% 0;
	color: #333;
}

.paypal_login_btn {
	width: 100%;
	margin: auto;
	padding: 4% 0;
}

.paypal_login_btn ul,.terms_done_btn {
	width: 94%;
	margin: auto;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	background: #7d7e7d;
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkN2U3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTBlMGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d7e7d),
		color-stop(100%, #0e0e0e) );
	background: -webkit-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
	background: -o-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
	background: -ms-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
	background: linear-gradient(to bottom, #7d7e7d 0%, #0e0e0e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#7d7e7d',
		endColorstr='#0e0e0e', GradientType=0 );
	padding: 1%;
	color: #fff;
	display: table;
}

.paypal_login_btn li: first-child {
	width: 16%;
	float: left;
	padding: 1% 3%;
}

.paypal_login_btn li:first-child + li{
	width: 72%;
	float: left;
	padding: 1% 3%;
}

.paypal_login_btn li:first-child  p {
	font-style: italic;
	font-size: 90%;
	font-weight: bold;
	text-align: center;
}

.paypal_login_btn li:first-child +li h3 {
	font-style: italic;
	font-size: 160%;
	font-weight: bold;
	text-align: center;
}

.terms_div {
	width: 100%;
	padding: 2% 0;
}

.terms_div ul {
	width: 96%;
	display: table;
	margin: auto;
}

.terms_div li {
	width: 28%;
	font-size: 70%;
	text-decoration: underline;
	float: left;
}

.terms_div li:first-child {
	width: 44%;
}

.terms_conditions .Intro_content h4 {
	text-align: center;
}

.terms_done_btn {
	padding: 2% 2%;
	width: 50%;
}

.terms_done_btn h3 {
	text-align: center;
}

.terms_conditions .terms_div ul {
	width: 60%;
	text-align: center;
}

.terms_conditions .terms_div li {
	width: 50%;
}

@media only screen and (min-width: 320px) and (max-width:800px) {
	.main_wrapper {
		width: 100%;
	}
	.slider_middle,.left_text_plain {
		display: none;
	}
	.withdraw_tabs {
		height: 100%;
	}
	.tabs_withdraw {
		width: 100%;
	}
}

@media only screen and (min-width: 320px) and (max-width:600px) and
	(orientation:landscape) {
	.main_wrapper {
		width: 100%;
	}
}