@charset "utf-8";
/* CSS Document */
/***** Author Yashwanth Gurrapu@TCS *****/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
}

ul,li {
	list-style: none;
}

.clear {
	clear: both;
	
}

html,body {
	width: 100%;
	height: 100%;
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
	position:absolute;
}

.main_wrapper {
	width: 72%;
	height: 100%;
	background: green;
	margin: auto;
	
	/*display: table;*/ /** it does not consider child elements height in IE 8**/
	border-right: 1px solid #333;
	border-left: 1px solid #333;
	
}

#header {
	float:left;
	width: 100%;
	height: 12%;
	background: #4D4540;
	
}

#logo{
	float:left;
	height:100%;
	width:50%;
	
}
#links{
	margin-top:5%;
	float:left;
	width:48%;
	text-align:right;
}
#logo img {
	width: 60%;
	padding-top: 1%;
	
}

#header li {
	width: 50%;
	float: left;
}
#header ul li img{
	width:65%;
	height:100%;
}
#header li:nth-child(2) {
	text-align: right;
}

#links a {
	font-size:85%;
	text-decoration: none;
	color: #fff;
	border-right:1px solid #ccc;
	padding-right:1%;
}


.main_content {
	width: 100%;
	height:120%;
	background: #C1C1C1;
	/*padding-top: 2%;
	padding-bottom: 2%;*/
	float:left;
	
}

#footer {
	width: 100%;
	margin: auto;
	background: #4D4540;
	padding: 0.5% 0;
	color: #fff;
	float:left;
	
}

#footer p {
	font-size: 90%;
}

/*.slider_middle {
	width: 96%;
	margin: auto;
	background: #FFF;
	height: 30%;
}*/

.slider_middle{
	width:96%;
	margin: auto;
	background: #FFF;
	height:30%;
	1border:1px solid red;
	
}

.withdraw_tabs {
	width: 96%;
	height: 70%;
	margin: auto;
	padding-top: 2%;
}

.left_text_plain {
	width: 25%;
	height: 88%;
	border: 1px solid #333;
	float: left;
	margin-right: 2%;
	padding: 1% 2% 2% 2%;
}

.left_text_plain h2 {
	font-size: 160%;
	font-weight: bold;
}

.left_text_plain p {
	font-size: 75%;
	text-align: justify;
}

.tabs_withdraw {
	width: 100%;
	height: 94%;
	/*border: 1px solid #333;*/
	float: left;
	
}

#main_tabs_moneygram {
	margin-top:0.5%;
	width: 50%;
	background: #ccc;
	/*display: table;*/
	height: 3%;
	
}
#main_tabs_moneygram1 {
	
	width: 50%;
	background: #ccc;
	display: table;
	height: 10%;
	
}

#main_tabs_moneygram li {
	height:100%;
	width: 24%;
	float: left;
	text-align: center;
	font-size: 96%;
	border-left:1px solid #000;
	border-right:1px solid #000;
	border-top:1px solid #000;
	display:table-cell;
	padding-top:1%;
	padding-bottom:1.5%;
	
	margin-left:0.5%;
	
}
#main_tabs_moneygram1 li {
	height:100%;
	width: 24%;
	float: left;
	text-align: center;
	font-size: 96%;
	border-left:1px solid #000;
	display:table-cell;
	padding-top:15%;
	padding-bottom:1.5%;
	margin-left:0.5%;
	
}
#main_tabs_moneygram li:last-child{
	border-right:1px solid #000;
}
#main_tabs_moneygram1 li:last-child{
	border-right:1px solid #000;
}

#main_tabs_moneygram li a{
	color:#000;
	
}
#main_tabs_moneygram1 li:first-child{
	background-image:url(../images/moneygram.png);
}

#main_tabs_moneygram1 li:first-child+li{
	background-image:url(../images/moneygram1.png);
}
#main_tabs_moneygram1 li:first-child+li+li{
	background-image:url(../images/moneygram2.png);
}
#main_tabs_moneygram1 li:first-child+li+li+li{
	background-image:url(../images/moneygram3.png);
	
}

.withdraw_content_container {
	width: 100%;
	height: 82%;
	
}

.withdraw_tab_content {
	width: 100%;
	height: 90%;
	background-color:#fff;
	/*display: table;
	border:1px solid #000;*/
	margin-top:1.2%;
}
.active{
color:green;
background-color:#fff;
}



}
.withdraw_content {
	width: 58%;
	height: 86%;
	float: left;
	
}

.bread_crumb {
	width: 100%;
	height: auto;
	display: table;
	padding: 2% 1%;
	
}

.bread_crumb p:nth-child(1) {
	font-size: 90%;
	width: 24%;
	float: left;
}

.bread_crumb p:nth-child(3) {
	font-size: 90%;
	width: 13%;
	float: left;
}

.bread_crumb p:nth-child(5) {
	font-size: 90%;
	width: 30%;
	float: left;
}

.bread_crumb span {
	font-size: 90%;
	float: left;
	width: 4%;
}

.withdraw_terms {
	width: 40%;
	height: 86%;
	float: left;
	
}

.withdraw_terms_text {
	width: 92%;
	margin: auto;
border: 1px solid #333;
	border-radius: 6px;
	text-align: justify;
	padding: 3%;
	margin-top: 32%;
}

.withdraw_terms_text p:nth-child(1) {
	font-size: 90%;
	padding-top: 6%;
	line-height: 18px;
}

.withdraw_terms_text p:nth-child(2) {
	font-size: 90%;
	padding: 12% 0 6% 0;
	line-height: 18px;
}

.withdraw_content h3,.review_content h3 {
	font-size: 100%;
	padding: 1% 1%;
	
}

.withdraw_content ul {
	padding-top:1%;
	width: 94%;
	margin: auto;
	font-size: 90%;
	display:table;
	
}

.withdraw_content li:nth-child(1),.withdraw_content li:nth-child(3),.withdraw_content li:nth-child(5),.withdraw_content li:nth-child(7),.withdraw_content li:nth-child(9)
	{
	display:table-cell;
	width: 60%;
	float: left;
}

.withdraw_content li:nth-child(2),.withdraw_content li:nth-child(4),.withdraw_content li:nth-child(6),.withdraw_content li:nth-child(8),.withdraw_content li:nth-child(10)
	{
	display:table-cell;
	width: 40%;
	float: left;
}

.withdraw_content li:nth-child(2) p,.withdraw_content li:nth-child(10) p,.withdraw_content li:nth-child(8) p
	{
	display:table-cell;
	width: 76%;
	text-align: right;
	float: left;
}

.withdraw_content li:nth-child(2) span,.withdraw_content li:nth-child(10) span,.withdraw_content li:nth-child(8) span
	{
	display:table-cell;
	width: 24%;
	text-align: right;
	float: left;
}

.withdraw_content li:nth-child(4) select {
	display:table-cell;
	width: 100%;
	/*line-height: 40px !important;
	padding: 20%*/
}

.withdraw_content li:nth-child(6) input {
	display:table-cell;
	width: 96%;
	padding: 1% 0;
}

.review_withdraw_btn {
	
	width: 100%;
	height: 10%;
	text-align: right;
	padding-bottom:1%;
}

.review_withdraw_btn button {
	padding: 1% 4%;
}

.review_content {
	padding-left: 2%;
	
}
.review_content{
	p
}

.review_content ul {
	width: 58%;
	border: 1px solid #333;
	border-radius: 6px;
	padding: 2% 1%;
	font-size:95%;
	display: table;
	
}

.review_content li:nth-child(1),.review_content li:nth-child(3),.review_content li:nth-child(5),.review_content li:nth-child(7),.review_content li:nth-child(9),.review_content li:nth-child(11),.review_content li:nth-child(13),.review_content li:nth-child(15)
	{
	width: 60%;
	float: left;
}

.review_content li:nth-child(2),.review_content li:nth-child(4),.review_content li:nth-child(6),.review_content li:nth-child(8),.review_content li:nth-child(10),.review_content li:nth-child(12),.review_content li:nth-child(14),.review_content li:nth-child(16)
	{
	width: 40%;
	float: left;
}

.review_content li:nth-child(10) p,.review_content li:nth-child(12) p,.review_content li:nth-child(14) p
	{
	width: 76%;
	text-align: right;
	float: left;
}

.review_content li:nth-child(10) span,.review_content li:nth-child(12) span,.review_content li:nth-child(14) span
	{
	width: 24%;
	text-align: right;
	float: left;
}

.review_content li:nth-child(16) p {
	width: 34%;
	float: left;
}

.review_content li:nth-child(16) span {
	width: 14%;
	float: left;
	text-align: center;
}

.check_terms {
	width: 98%;
	height: 10%;
	padding: 1%;
	
}

.check_terms input {
	float: left;
}

.check_terms p {
	font-size: 90%;
	width: 94%;
	float: left;
}

.check_terms p a {
	display: inline;
	text-decoration: underline;
	color:#000;
}

.Intro_content {
	width: 96%;
	padding: 2% 0 2% 0;
	margin: auto;
}

.Intro_content h4 {
	font-size: 110%;
	padding: 2% 0;
	color: #333;
}

.paypal_login_btn {
	width: 100%;
	margin: auto;
	padding: 4% 0;
}

.paypal_login_btn ul,.terms_done_btn {
	width: 94%;
	margin: auto;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	background: #7d7e7d;
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkN2U3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTBlMGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d7e7d),
		color-stop(100%, #0e0e0e) );
	background: -webkit-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
	background: -o-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
	background: -ms-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
	background: linear-gradient(to bottom, #7d7e7d 0%, #0e0e0e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#7d7e7d',
		endColorstr='#0e0e0e', GradientType=0 );
	padding: 1%;
	color: #fff;
	display: table;
}

.paypal_login_btn li:nth-child(1) {
	width: 16%;
	float: left;
	padding: 1% 3%;
}

.paypal_login_btn li:nth-child(2) {
	width: 72%;
	float: left;
	padding: 1% 3%;
}

.paypal_login_btn li:nth-child(1) p {
	font-style: italic;
	font-size: 90%;
	font-weight: bold;
	text-align: center;
}

.paypal_login_btn li:nth-child(2) h3 {
	font-style: italic;
	font-size: 160%;
	font-weight: bold;
	text-align: center;
}

.terms_div {
	width: 100%;
	padding: 2% 0;
}

.terms_div ul {
	width: 96%;
	display: table;
	margin: auto;
}

.terms_div li {
	width: 28%;
	font-size: 70%;
	text-decoration: underline;
	float: left;
}
.terms_div li a{
	color:#000;
}
.terms_div li:first-child {
	width: 44%;
}

.terms_conditions .Intro_content h4 {
	text-align: center;
}

.terms_done_btn {
	padding: 2% 2%;
	width: 50%;
}

.terms_done_btn h3 {
	text-align: center;
}

.terms_conditions .terms_div ul {
	width: 60%;
	text-align: center;
}

.terms_conditions .terms_div li {
	width: 50%;
}

@media only screen and (min-width: 320px) and (max-width:800px) {
	.main_wrapper {
		width: 100%;
	}
	.slider_middle,.left_text_plain {
		display: none;
	}
	.withdraw_tabs {
		height: 100%;
	}
	.tabs_withdraw {
		width: 100%;
	}
}

@media only screen and (min-width: 320px) and (max-width:600px) and
	(orientation:landscape) {
	.main_wrapper {
		width: 100%;
	}
}


#moneygram_paypal img{
	float:left;
	width:24%;
	margin-top:2%;
	margin-left:4%;
	
}
.moneygram_content {
float:left;
width:60%;
border:1px solid #ccc;
padding:2%;
margin-top:2%;
margin-left:2%;
font-size:90%;
}
.Addcash_content{
	padding-top:2%;
	padding-left:1%;
	font-size:90%;
	
}
/***** withdraw cash *************/
.withdrawcash_content{
	padding:1%;
	width:50%;
	float:left;
	height:93%;
	margin-top:2%;
	
}
.withdrawcash_content p{
	padding-top:1%;
	font-size:90%;
}
.withdrawcash_content ol li{
	padding-top:2%;
	
	font-size:90%;
	list-style-type:decimal;
	margin-left:3%;
	
}
.withdrawcash_content ol li ul li{
	
	font-size:90%;
	list-style-type:circle;
	margin-left:5%;
	
}
.withdrawcash_img{
	width:48%;
	float:left;
	height:98%;
}
.withdrawcash_img img{
	width:35%;
	float:left;
	padding-left:8%;
	padding-top:2%;
}
.withdrawcash_img :nth-child(3){
	margin-left:20%;
}



/********** withdraw cash End *********/
/*********** locations ***********/
#left {
    width:200px;
    height:200px;
    float:left;
    background:white;
    
}

#right {
    width:200px;
    height:200px;
    float:right;
    background:white;
   padding-right:10%;
    
}

.divider{
    position:absolute;
    left:50%;
 top:80%;
    
    border-left:5px solid gray;
    padding-right:5%;
    margin-left:0.15%;
    margin-bottom:5%;
  height:100px;
    padding-top:5%;
    
    
}
#locations
{
	padding-left:2%;
	
			
}
#p_btn
{
	margin-bottom:10%;
}
#p_btn1
{
	margin-bottom:10%;
}
#iframe_div
{
	display:none;
	height:91%;
	width:100%;
	z-index:10 !important;
	1border:1px solid red;
	
}
#iframe_div iframe{
	 width: 92%; height: 92%; margin-right: 0%; margin-left: 2%; margin-top: 2%; margin-bottom: 2%;
}

.Change_Location{
        	text-decoration: none;
        	color:black;
        	border:1px solid black;
        	border-radius:6px;
        	padding:0.25%;
        	margin-top:2%;
        	
        }

    .black_overlay_location{
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: transparent;
            z-index:1001;
            -moz-opacity: 0.8;
            opacity:.80;
            filter: alpha(opacity=80);
        }
        .white_content_location {
            display: none;
            position: absolute;
            top: 30%;
            left: 15%;
            width:70%;
            height: 80%;
           /* padding: 16px;*/
            border: 1px solid orange;
           background-color: white;
            z-index:1002;
           /* overflow: auto;*/
          text-align:center;
        }
        .cross-button_location{
            padding:1%;
    position:absolute;
    cursor:pointer;
    top:-2%;
    right:3%;
   
        }
#light_location span{padding:1%;
    position:absolute;
    cursor:pointer;
    top:-2%;
    right:-1%;
font-size:60%;
    }

/****** end  locations************/


			
    /* image replacement */
        .graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{
            margin:0;
            padding:0;
            display:block;
            overflow:hidden;
            text-indent:-8000px;
            }
    /* // image replacement */
			
	

/* Easy Slider */
#slider{
	1border:1px solid black;
	width:930px;
		height:230px;
	/*margin-left:5%;*/
	
	
}

	#slider ul, #slider li,
	#slider2 ul, #slider2 li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider2{margin-top:1em;}
	#slider li, #slider2 li{ 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
		width:930px;
		height:230px;
		overflow:hidden; 
		
		
		}	
	#prevBtn, #nextBtn,
	#slider1next, #slider1prev{ 
		display:block;
		width:37px;
		height:58px;
		position:absolute;
		1left:-60px;
		top:175px;
		z-index:1000;
		1border:1px solid red;
		}	
		#prevBtn{
			background:url(../images/prev.jpg) no-repeat;
		}
		
	#nextBtn, #slider1next{ 
		left:1095px;
		background:url(../images/next.jpg);
		
		}														
	#prevBtn a, #nextBtn a,
	#slider1next a, #slider1prev a{  
		display:block;
		position:relative;
		width:37px;
		height:77px;
		1background:red;	
		}	
	#nextBtn a, #slider1next a{ 
		1background:blue;	
		
		}	
		
		.slide{
		width:930px;
		height:230px;
		
		}
		.slide p
		{
		padding-top:8%;
		width:50%;
		height:100%;
		float:left;
		}
		.slide img{
		float:left;
		width:49%;
		height:100%;
		}
	/* numeric controls */	

	
	
/* // Easy Slider */

/*4 feb*/
.user_details
        {
   
     margin-left:2%;
margin-top:2%;
margin-bottom:2%;
        }
       
#email_addr
        {
 margin-left:1.75%;
        }

.main_content_login
{
	
	margin-top:4%;
height:10%;
}

.main_content_login p
{
	
	margin-left:5%;
	float:left;
	1width:50%;
}

#login_details
{
	margin-top:5%;
}
#total_content
{
	margin-left:3%;
	
}
#problem
{
	text-decoration: underline; 
	margin-top:10%;
}
#login_btn
{
	margin-top:2%;
}


#logo_paypal{
	margin-top:-5%;
	float:right;
	margin-right:3%;
	
	
}
.cancel
{
	text-decoration: underline; 
}
#ftr{

	width: 100%;
    bottom:0%;	
	margin-top:14%;
}
